@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


    html{
        font-size: 51%;
        overflow-x: hidden;
        scroll-padding-top: 9rem;
        scroll-behavior: smooth;
    }
    *{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

   
    section{
        padding: 5rem 7%;
    }
    
   
    .btn{
        margin-top: 1rem;
        display: inline-block;
        padding: 1rem 3rem;
        border-radius: .5rem;
        background-color: #1f2e88;
        cursor: pointer;
        font-size: 1.7rem;
        color: white;
    }
    
    .btn:hover{
        background-color: #a2d9f5;
    }
    
    /* contact */
    
    .contact{
        background-color: #eee;
        background-image: url(images/149371994-stéthoscope-avec-date-de-page-de-calendrier-sur-fond-bleu-concept-médical-de-rendez-vous-chez-le.jpg);
        background-size: cover;
        
    }
    
    .contact form{
        padding: 1rem;
        background-color: white;
        max-width: 50rem;
        margin: 0 auto;
        border-radius: .2rem;
    }
    
    .contact form span{
        font-size: 1.7rem;
        color: #1f2e88;
    }
    
    .contact form .inputBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .contact form .inputBox input{
        padding: 1rem;
        margin: 1rem 0;
        font-size: 1.7rem;
        color: black;
        text-transform: capitalize;
        background: #eee;
        border-radius: .5rem;
        width: 49%;
    }
    
    .contact form .box{
        margin: 1rem 0;
        width: 100%;
        background: #eee;
        border-radius: .5rem;
        padding: 1rem;
        font-size: 1.7rem;
        color: black;
        text-transform: capitalize;
    }.heading{
    font-size: 3rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

/* contact ends */
